:root {
  --palette-bg: #0d1730;
  --palette-lines: #FFFFFF;
  --palette-accent: #14213D;
  --palette-pop: #FCA311;
  --palette-cool: #ebebeb;
  --main-font: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--main-font);
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--palette-cool);
  background-color: var(--palette-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
