.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background-color: var(--palette-accent);
    padding: 1em;
    width: min(90%, 800px);
    max-height: 80%;
    border-radius: 10px;
    overflow: auto;
    transition: all 150ms cubic-bezier(1, 0.1, 0.1, 0.5);
    box-shadow: 0 0 10px white;
}

.modalInvisible {
    top: 0;
    display: none;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
}

.modalHeader button {
    font-size: 1.5em;
    background-color: #00000000;
    border: none;
}

.modalBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #00000033;
    backdrop-filter: blur(2px);
}

.modalChild {
    overflow: auto;
}